* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--surface-dark-100: hsl(216 28% 7%);
	--surface-dark-200: hsl(216 28% 12%);
	--surface-dark-300: hsl(216 28% 17%);
	--surface-dark-400: hsl(216 28% 22%);

	--text-dark-100: hsl(216 28% 92%);
	--text-dark-200: hsl(216 28% 82%);
	--text-dark-300: hsl(216 28% 72%);

	--surface-light-100: hsl(216 28% 100%);
	--surface-light-200: hsl(216 28% 95%);
	--surface-light-300: hsl(216 28% 90%);
	--surface-light-400: hsl(216 28% 85%);

	--text-light-100: hsl(216 28% 7%);
	--text-light-200: hsl(216 28% 17%);
	--text-light-300: hsl(216 28% 27%);

	--surface-100: var(--surface-dark-100);
	--surface-200: var(--surface-dark-200);
	--surface-300: var(--surface-dark-300);
	--surface-400: var(--surface-dark-400);

	--text-100: var(--text-dark-100);
	--text-200: var(--text-dark-200);
	--text-300: var(--text-dark-300);

	@media (prefers-color-scheme: light) {
		--surface-100: var(--surface-light-100);
		--surface-200: var(--surface-light-200);
		--surface-300: var(--surface-light-300);
		--surface-400: var(--surface-light-400);

		--text-100: var(--text-light-100);
		--text-200: var(--text-light-200);
		--text-300: var(--text-light-300);
	}
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: var(--surface-100);
	color: var(--text-100);

	@media (width <= 700px) {
		&.nav-active::before {
			content: '';
			display: block;
			position: absolute;
			z-index: 1;
			inset: 0;
			background-color: rgba(0, 0, 0, 0.5);
			backdrop-filter: blur(5px);
		}
	}
}

:where(input, button) {
	font: inherit;
	background-color: var(--surface-200);
	text-align: left;
	color: var(--text-200);
	cursor: pointer;
	border: none;
	line-height: 1cap;

	&:hover {
		background-color: var(--surface-300);
	}
}

:where(input) {
	border: 1px solid var(--surface-300);

	&:where(:hover, :focus-visible) {
		background-color: color-mix(in srgb, var(--surface-300), transparent 30%);
	}

	&:focus-visible {
		outline: none;
		border-color: var(--surface-400);
	}

	&::placeholder {
		color: var(--text-300);
	}
}

a {
	font: inherit;
	color: inherit;
	text-decoration: none;
}

#root {
	block-size: 100vh;
	display: grid;
	grid-template-columns: auto 1fr 1fr;
	grid-template-rows: 4rem auto;
	grid-template-areas:
		'nav header header'
		'nav main preview';

	@media (width <= 1100px) {
		grid-template-columns: auto 1fr;

		.preview {
			grid-column: span 2;
		}
	}
}

nav {
	grid-area: nav;

	@media (width <= 700px) {
		position: fixed;
		z-index: 10;
		inset: 0;
		transition: translate 0.2s ease-in-out;
		translate: -100% 0;

		.nav-active & {
			translate: 0 0;
		}

		&.nav-menu {
			display: block;
		}
	}
}

main {
	grid-area: main;

	@media (width <= 1100px) {
		&.editor-hidden {
			display: none;
		}
	}
}

header {
	grid-area: header;

	.logo,
	.menu {
		display: none;
	}

	@media (width <= 700px) {
		.logo,
		.menu {
			display: block;
		}
	}
}

:is(nav, main, .preview) {
	overflow-y: auto;
}

.preview {
	grid-area: preview;

	@media (width <= 1100px) {
		&.preview-hidden {
			display: none;
		}
	}
}

.topic {
	white-space: nowrap;
	max-inline-size: 22ch;
	overflow: hidden;
	text-overflow: ellipsis;
}

.md-editor {
	height: calc(100% - 3.5rem);
	font-size: 0.9rem;
}

.ͼ1 .cm-scroller {
	font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
		'DejaVu Sans Mono', monospace;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}

.md-editor-content-editor,
.md-editor-inner,
.cm-editor {
	height: 100%;
}

.preview-button {
	visibility: hidden;

	@media (width <= 1100px) {
		visibility: visible;
	}
}

/* scrollbar styles */
:where(.md-editor-content-editor, .cm-scroller, .preview) {
	scrollbar-width: thin;
	scrollbar-color: var(--surface-400) var(--surface-200);

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}
